<div class="container">
<ul  class="list-group users">
      <li *ngFor="let user of users"  
      [class.active]="currentUser == user">
      <jce-user [user] = 'user' (deleteEvent)="deleteUser($event)" (editEvent)="updateUser($event)"></jce-user>
      </li>
  </ul>
</div>