<div class="container">
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header container">
        <span class="navTopLeft"><a class="navbar-brand" href="#">chatApp</a></span>
      </div>
      
      <div *ngIf="googleLog">
        <span class="navbar-text navbar-right navTopRight">Hello: ( {{user_email}} )</span>
      </div>

      <div *ngIf="emailLog">
        <span class="navbar-text navbar-right navTopRight">Hello: ( {{user_email}} )</span>
      </div>

      <div *ngIf="!isLoggedIn">
        <span class="navbar-text navbar-right navTopRight">Not logged In!!</span>
      </div>
      
      <div>
          <span><button class="btn btn-default" (click)="logout()">Logout</button></span>
      </div>

    </nav>
  </div>
  <router-outlet></router-outlet>
</div>