
.container{
}


.addFriend{
    float:left;
    width:50%;
}

.createGroup{
    float:left;
    width:100%;
}
#addFriendDiv{
    width: 100%;
    float: left;
}
.createGroup span{
    width:85px;
    float:left;
    line-height: 2.5;
}
.addFriend input{
    width:70%;
    float: left;
}
.addFriend button{
    margin-left: 3px;
}
.userGroups{
    float: left;
    width:40%;
}

.suggestions ul{
    list-style: none;
    box-shadow: 2px 1px 2px 3px grey;
    width: 70%;
    max-height: 130px;
    overflow-y: scroll;
    background-color: white;
    }
.suggestions ul li{
    cursor: pointer;
    padding: 3px;
}
.suggestions ul li:hover{
background-color: #b5c7e5;

}
.group{
    position: fixed;
    float: left;
    z-index: -2;
    width: 31.5%;
    margin-top: 6%;
    background: white;
    border-radius: 5px;
    border: 2px solid #2D678F;
    text-align: center;
}
.createGroupButton{
    float: left;
    width: 100%;
}

.group ul{
    list-style: decimal;
    margin-top:5px;
}
.group button{
   margin-bottom: 10px;
   margin-top: 35px;
}
.invitedList{
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
}
.invitedList ul li{
    float: left;
    margin-top:5px;
    text-align: left;
    margin-left: 5px;
    width:100%;
}
.groupLeader{
    line-height: 2.8;
}
.invitedList ul{
    margin-top:0 auto;
    width: 55%;
    margin-left: 23%;
}
.groupName{
    display: inline-block;
    width:100%;
}

.groupName span{
    width:100%;
}
.invitedList span{
    display: inline-block;
    line-height: 2.5;
}
.imgStatus{
    display: block;
    float: right;
    width:30%;
}


.validate{
    color:red;
    margin-top: 5px;
    float: left;

}
#removeLogo{
    width:20px;
    cursor: pointer;
    float:right;
    margin-right: 10px;
}
.myGroups{
    width:100%;
    float:left;
    max-height: 130px;
    overflow-y: scroll;

}
.myGroups ul{
    list-style: none;
    padding: 0;
    margin-left: 3%;
}
.groupItem{
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin-top:2%;
    border:1px solid;
    width:80%;
    opacity: 0.6;
    margin-left: 5%;
    background-color: #909699;

  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}
.groupItem:hover{
    background-color: #27D669;
    opacity: 1;
    font-size: 16px;
}
.groupMember{
    text-align: left;
    margin-left: 20%;
    margin-top:3%;
}
.groupDetails{
    background-color: #F0EFE4;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: 2px 2px 17px 0px #909699;
    width: 35%;
    margin: 10% 35%;
    float: left;
    padding: 3%;
    text-align: center;
}
.groupDetails button{
    margin-top:3%;
}

#groupAdminLogo{
    width: 35px;
    float: right;
    margin-right: 5px;
}
.spinner{
    margin: 40%;
}
#groupModal{
    width:50%;
    margin:auto;
    border-radius: 10px;
}
#closeModalLogo{
    width:35px;
    cursor: pointer;
}
.closeModal{
    float:right;

}