<div class="container">

  <div class="addFriend">

      <h2>Create new Chat Group</h2>
    <div class="createGroup">
      <div id="groupNameDiv">
        <span>Group Name: </span>
        <input type="text" class="form-control" name="groupName" placeholder="Give a name to your Group!" 
        [(ngModel)]=groupName (focus)="showList()"/>
      </div>
    

      <div id="addFriendDiv">
          <span>Add Friends: </span>
          <input type="text" class="form-control" name="addFriend" placeholder="Add other people to your group" 
          [(ngModel)]=query (focus)="showList()"  (keyup)=filter()/>
          <div class="suggestions" *ngIf="filteredList.length > 0">
              <ul>

                  <li *ngFor="let item of filteredList" (click)="select(item)">
                    <a>
                      {{item.lastname}}  {{item.email}}
                    </a>
                  </li>
              </ul>
        </div>

    </div>
  </div>

    

          <div class="group" *ngIf = "showGroup">
            <h3>Friends Added:</h3>
            
            <div class="invitedList">
              <div class="groupName">
                <span>Group Name:  {{groupName}} </span>
              </div>
                <ul>
                  <li class="groupLeader">
                    <div>
                      {{ currentAuthFullName }}
                      <span class="imgStatus"><img id="groupAdminLogo" src="images/leader.png"></span>
                    </div>
                  </li>
                  <li *ngFor="let one of invitedArray">
                    <div> 
                      {{(!wasInvited) ?  one.firstname + ' ' +one.lastname : one }}
                      <span class="imgStatus"><img src="images/remove_logo.png" id="removeLogo" (click)= "removeUser(one)"></span>
                    </div>
                  </li>
                  <span class="validate" *ngIf = "emptyGroup">Please Invite atleast 1 other user to your group!</span>
                  <span class="validate" *ngIf = "noGroupName">Please Insert a name to your group</span>
              </ul>                
            </div>
            <div class="createGroupButton">
              <button type="submit" class="btn btn-primary" (click)="createGroup()" >Create New Group</button>   
            </div>
        </div>


     
  </div>


<div class="userGroups">
   <h2>Groups you are in</h2>
   <h4>Select Group to chat with</h4>
    <app-spinner [visible]= "isLoading" class="spinner"></app-spinner>
  <div class="myGroups">
      <ul>
        <div class="groupItem" *ngFor = "let group of myGroupsData" (click) = "getGroupDetails(group.$key)" [attr.data-groupKey] ="group.$key"  data-toggle="modal" data-target="#groupModal">
          <li>
            {{ group.groupName }}
          </li>
        </div>
      </ul>
  </div>
  <div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="groupDetails" *ngIf = "(showGroupDetails)" [@enterAnimation]="showGroupDetails">
      
      <div class="closeModal"><img id="closeModalLogo" src="app/images/close_logo.png"   data-toggle="modal" data-target="#groupModal"></div>
      <h3>Group Info:</h3>
        <div *ngFor = "let member of myGroupsMembers; let i = index; let last = last">
          <div *ngIf ="(showGroupDetails) && (!last)" class="groupMember" [class.currentAuth] ="member.email">
            <span > {{i+1}}  - {{ myGroupsMembers[i].firstname }}  {{ myGroupsMembers[i].lastname }}</span>

          </div>
        </div>             
            <button [routerLink]= "['/chat', myGroupsMembers[myGroupsMembers.length-1].groupKey]"  type="submit" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Chat With Group</button>   
    </div> 
  </div>  
  </div>



</div>

