<div class="mainChat container">
  <div class="chatMembers">
    <h2>Members of chat</h2>
    <div class="members">
      <ul>
        <div *ngFor = "let member of chatMembers; let last = last">
          <li *ngIf = "!last">
            <div class="oneMember"  [class.currentAuth] ="member.email == currentAuthEmail">
              <img src = "{{currentAuthPic}}" >
              <span>{{member.firstname}} </span><span>  {{member.lastname}}</span>
              </div>
          </li>
        </div>
      </ul>
    </div>

  </div>

  <div class="chatArea">

    <div class="messages" id="messagesDiv">
      <div *ngFor = "let msg of groupMessages; let i = index" class="msgDiv">
        <div class="msg" [class.currentAuthMsg] = "msg.email == currentAuthEmail">
          <div class="writer">
            <span> {{ msg.writer }} </span>
          </div>
          <div class="body">
            <p> {{ msg.body }} </p>
          </div>
          <div class="timestamp">
            <span> {{ msg.timestamp | date:"MM/dd/yy hh:mm a" }} </span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="msgTextarea">
    <textarea  placeholder="Type your message here ..." (keyup)="onKey($event)"></textarea>
    </div>
  
  </div>
</div>