.mainChat{
    margin:10% auto;
    display: flex;
    min-height: 380px;
}
.chatArea{
    order: 2;
    width:60%;
    border:1px solid;
}
.messages{
    float:left;
    width:100%;
    max-height: 450px;
    height:85%;
    background-color: #a2c5cc;
    opacity: 0.8;
    overflow-y: scroll;
}
.msgTextarea{
    float: left;
    width:100%;
    height: 100%;
    position: relative;
}
.msgTextarea textarea{
    width:100%;
    height:15%;
    resize:none;
    vertical-align: top
}

.chatMembers{
    padding: 10px;
    order:1;
    border:1px solid;
}
.members ul{
    list-style: none;
    padding: 0px;
}

.oneMember{
    text-align: left;
    margin-top: 10px;
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
    float: left;
    background-color: #808080;
}
.currentAuth{
    background-color:green;
}


.msgDiv{
    width:100%;
    float: right;
}
.msg{
    float: right;
    background-color: #f4f4f9;
    max-width: 85%;
    margin-right: 10px;
    border-radius: 20px;
    padding: 10px;
    margin-top:10px;
    color: black;
}
.msg span{
    font-size:12px;
    color: #383838;
}
.msg p{
    font-weight: bold;
    }

.currentAuthMsg{
    background-color:#0030ff;
    color:white;
    opacity: 1;
    float:left;
    margin-left: 10px;
}
.currentAuthMsg span{
    color:white;
}