
.container{
    margin:0 auto;

}
.loginSign label{
    padding: 3px;
    margin-top:5px;
}
.loginSign h2{
    font-size: 33px;
    text-shadow: 2px 1px #b1a2a2;
    padding: 10px;
}
.loginSign{
    margin:0 auto;
    width:35%;
    border:3px solid;
    padding: 5px;
    text-align: center;
    color:#2D678F;
}

.loginSign input{
    margin: auto;
    width: 70%;
    border: 1px solid #4BA9BF;
    border-radius: 2px;
}
.loginSign input:focus{
    border: 2px solid  #2D678F;
}

.signLogBtn{
    margin-top: 20px;
    width:30%;
}

.registerLink{
    cursor: pointer;
    margin-top: 10px;
}
.googleLogIn{
    margin-top:5px;
}
#googleLog{
    width:70%;
    margin-top:10px;
    cursor: pointer;
}
.loginSubmit{
    margin:0 auto;
    text-align: center;
}
