<div class="container" style="margin:10% auto;">
<!-- Login with google 
  <h1>Login To your account</h1>
  <button class="btn btn-default" (click)="login()">Login with Google</button>
-->
<div class="loginSign" *ngIf= "register">
  <h2>Or Register and Join</h2>
    <form (ngSubmit) = "onSign(f)" #f = "ngForm">
    <div>
      <label for="firstname">First Name</label>
      <input type="text"  class="form-control" id="firstname" name="firstname" required [(ngModel)] = "user.firstname">
    </div>
      <div>
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" name="lastname" required [(ngModel)] = "user.lastname">
    </div>
    <div>
      <label for="password">Pass</label>
      <input type="password"  class="form-control" id="password" name="password" [(ngModel)] = "user.password">      
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text"  class="form-control" id="email" name="email" [(ngModel)] = "user.email">      
    </div>
    <button type="submit" class="btn btn-primary signLogBtn" >Sign In</button>
    <div class="registerLink">
      <span><a (click)="showRegister()">Log In.</a></span>
    </div>
  </form>
</div>

<div class="loginSign" *ngIf="!register">
  <h2>Log In!</h2>
    <form (ngSubmit) = "loginWithEmail($event, email.value, password.value)" #a = "ngForm">
    <div>
      <label for="email">Email</label>
      <input #email type="text"  class="form-control" id="email" name="email">      
    </div>
    <div>
      <label for="password">Pass</label>
      <input #password type="password"  class="form-control" id="password" name="password">      
    </div>
    <div class="loginSubmit">
      <button type="submit" class="btn btn-primary signLogBtn" >Log In</button>
    </div>


  <div class="googleLogIn">
      <img src="images/google_logo.png" (click)="loginWithGoogle()" id="googleLog">
  </div>
      <div class="registerLink">
      <span><a (click)="showRegister()">Not signed in? click here to register</a></span>
    </div>
  </form>

</div>

</div>